/********** Template CSS **********/
:root {
  --primary: #13c5dd;
  --secondary: #354f8e;
  --light: #eff5f9;
  --dark: #1d2a4d;
}

.btn {
  font-weight: 700;
  transition: 0.5s;
}
.read_bt_2 a {
  width: 100%;
  float: left;
  font-size: 18px;
  background-color: #09d066;
  color: #ffffff;
  padding: 10px 0px;
  text-align: center;
}
.care_taital {
  width: 75%;
  float: left;
  padding-top: 50px;
}
#servicesDropdownToggle {
  cursor: pointer;
}

@media (min-width: 992px) {
  .nav-item.dropdown:hover .dropdown-menu {
    display: block;
  }

  .dropdown-toggle {
    display: none;
  }
  .drop {
    display: block;
  }
}
.about_section {
  width: 100%;
  padding-top: 3rem;
  padding-bottom: 90px;
}
.image_2 {
  width: 100%;
  float: left;
  padding-top: 25px;
  height: 450px;
}
.image_2 img {
  width: 100%;
}
.ser-p {
  color: white;
}
.rel {
  margin-left: 10rem;
}

.related-links {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.related-links a {
  color: white;
  font-size: 20px;
  text-decoration: dotted;
  display: inline;
}

.related-links a:hover {
  color: #ffc107;
  text-decoration: underline;
}
@media (max-width: 992px) {
  .rel {
    margin-left: 10px;
  }
}
.videos .work-videos {
  text-transform: uppercase;
  text-decoration: underline #ffc107;
}

.videos .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.videos .container .video {
  height: 360px;
  width: 360px;
}

.videos .container .video video {
  width: 100%;
  height: 100%;
  border: 3px solid #ffc107;
}
@media (max-width: 991px) {
  .nav-item.dropdown:hover .dropdown-menu {
    display: none;
  }
  .drop {
    display: flex;
    justify-content: space-between;
  }
  .dropdown-toggle {
    display: inline-block;
    cursor: pointer;
  }
  .ser-p.mobile {
    display: none;
  }
}
.care_text {
  width: 100%;
  float: left;
  font-size: 28px;
  color: white;
  font-weight: bold;
}
.ipsum_text {
  width: 100%;
  float: left;
  color: white;
  margin-left: 0px;
  font-size: 16px;
}
.image_3 {
  width: 100%;
  float: left;
}
.image_3 img {
  padding: 1rem;
}
.read_bt_2 {
  width: 35%;
  float: left;
  /* margin-top: 50px; */
}
.contact .rounded {
  box-shadow: inset 2px 2px 4px black, inset -2px -2px 4px black;
}
.contact .bg-primary {
  background-color: #ffc107 !important;
}
.contact a {
  color: white;
}
.care_section .row {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-inline: 1rem;
  box-shadow: inset 1px 1px 10px 3px black;
}
.btn:hover {
  -webkit-box-shadow: 0 8px 6px -6px #555555;
  -moz-box-shadow: 0 8px 6px -6px #555555;
  box-shadow: 0 8px 6px -6px #555555;
}

.btn-primary {
  color: #ffffff;
}

.btn-square {
  width: 36px;
  height: 36px;
}

.btn-sm-square {
  width: 28px;
  height: 28px;
}

.btn-lg-square {
  width: 46px;
  height: 46px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}

.back-to-top {
  position: fixed;
  display: none;
  right: 30px;
  bottom: 0;
  border-radius: 50% 50% 0 0;
  z-index: 99;
}
.copy .text-primary {
  color: #ffc107 !important;
  font-weight: 600;
}
.d-none {
  background-color: white;
}
.navbar-light .navbar-nav .nav-link {
  font-family: "Jost", sans-serif;
  position: relative;
  margin-left: 30px;
  /* padding: 30px 0; */
  font-size: 18px;
  font-weight: 700;
  color: var(--dark);
  outline: none;
  transition: 0.5s;
}
@media (max-width: 992px) {
  .navbar-nav {
    overflow-y: scroll;
    max-height: 300px;
  }
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
  color: var(--primary);
}

@media (min-width: 992px) {
  .navbar-light .navbar-nav .nav-link::before {
    position: absolute;
    content: "";
    width: 0;
    height: 5px;
    bottom: 0;
    left: 50%;
    background: var(--primary);
    transition: 0.5s;
  }

  .navbar-light .navbar-nav .nav-link:hover::before,
  .navbar-light .navbar-nav .nav-link.active::before {
    width: 100%;
    left: 0;
  }
}

@media (max-width: 991.98px) {
  .navbar-light .navbar-nav .nav-link {
    margin-left: 0;
    padding: 10px 0;
  }
}

.hero-header {
  background: url(../img/main.png) top right no-repeat;
  background-size: cover;
}
.logo {
  width: 15%;
  float: left;
}
.logo img {
  width: 100%;
}
.service-item {
  /* position: relative;
    height: 350px;
    padding: 0 30px;
    transition: .5s; */
  height: 500px;
  /* box-shadow: 2px 1px 2px black; */
}

.service-item .service-icon {
  /* width: 150px;
    height: 100px; */
  /* display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary);
    border-radius: 50%; */
  /* transform: rotate(-14deg); */
  /* padding: 2rem; */
  /* width: 120px; */
  /* width: 300px;
    height: 300px; */
  /* padding-top: 1rem; */
}
.service-item .service-icon img {
  width: 100%;
  height: 100%;
}

.service-item .service-icon i {
  transform: rotate(15deg);
}
/* .service-item .service-icon img{
    border-radius: 50%;
} */
/* .service-item a.btn {
    position: absolute;
    width: 60px;
    bottom: -48px;
    left: 50%;
    margin-left: -30px;
    opacity: 0;
} */

.service-item:hover a.btn {
  bottom: -24px;
  opacity: 1;
}

.price-carousel::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 50%;
  bottom: 0;
  left: 0;
  background: var(--primary);
  border-radius: 8px 8px 50% 50%;
  z-index: -1;
}

.price-carousel .owl-nav {
  margin-top: 35px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}

.price-carousel .owl-nav .owl-prev,
.price-carousel .owl-nav .owl-next {
  position: relative;
  margin: 0 5px;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary);
  background: #ffffff;
  font-size: 22px;
  border-radius: 45px;
  transition: 0.5s;
}

.price-carousel .owl-nav .owl-prev:hover,
.price-carousel .owl-nav .owl-next:hover {
  color: var(--dark);
}

@media (min-width: 576px) {
  .team-item .row {
    height: 350px;
  }
}

.team-carousel .owl-nav {
  position: absolute;
  padding: 0 45px;
  width: 100%;
  height: 45px;
  top: calc(50% - 22.5px);
  left: 0;
  display: flex;
  justify-content: space-between;
}

.team-carousel .owl-nav .owl-prev,
.team-carousel .owl-nav .owl-next {
  position: relative;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background: var(--primary);
  border-radius: 45px;
  font-size: 22px;
  transition: 0.5s;
}

.team-carousel .owl-nav .owl-prev:hover,
.team-carousel .owl-nav .owl-next:hover {
  background: var(--dark);
}

.testimonial-carousel .owl-dots {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.testimonial-carousel .owl-dot {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  width: 20px;
  height: 20px;
  background: var(--light);
  border: 2px solid var(--primary);
  border-radius: 20px;
  transition: 0.5s;
}
.footer {
  border-top: 1px solid white;
}
.testimonial-carousel .owl-dot.active {
  width: 40px;
  height: 40px;
  background: #95d819;
}

.testimonial-carousel .owl-item img {
  width: 150px;
  height: 150px;
}
/* .container{
    text-align: center
     border-radius: 100%; 

}  */
.whatsapp-icon {
  position: fixed;
  bottom: 50px;
  right: 25px;
  width: 60px;
  height: 60px;
  background-color: #95d819;
  border-radius: 50%;
  text-align: center;
  line-height: 60px;
  color: white;
  font-size: 35px;
  cursor: pointer;
  z-index: 999;
}
.footer a {
  color: white;
}
/* .display-4{
    color:#f9ca02 ;
} */
/* .text-white{
    color:#fff !important
} */
/* .text-white mb-5{
    color:#fff 
} */
.read {
  padding: 12px 22px;
  background-color: #95d819;
  color: white;
  border-radius: 10px;
}
.read:hover {
  color: #13c5dd;
  background-color: white;
}
.service-item .m-0 {
  color: white !important;
  padding: 5px;
}
.mb-0 {
  color: #fff !important;
}
/* .bg-light{
    border: 1px solid #1D2A4D;

} */
.service-item .service-icon {
  padding: 0.5rem;
  box-shadow: inset 2px 2px 10px rgb(0, 0, 0),
    inset -2px -2px 4px rgb(0, 0, 0.5);
  border: 2px solid white;
}
.service-icon img {
  /* border: 10px solid #95d819; */
}
.team-item {
  background-color: #95d819;
}
.team-item p {
  color: white;
}
.service-item.bg-light {
  background-color: unset !important;
}
.form-control.bg-light {
  background-color: white !important;
}
